/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1200px;
    margin: 0 auto;
    border: 3px solid #931420;
	background: #055E12;
}
a:focus, a:hover {
	font-style: italic;
	color: #800000;
}


/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #fcba03;
		background-image: -moz-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(170, 176, 194) 50%, #fffded 80%, #1c9640 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(193, 195, 211) 50%, #fffded 80%, #1c9640 100%);
	background-image: -o-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(172, 181, 201) 50%, #fffded 80%, #1c9640 100%);
	background-image: linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(196, 200, 218) 50%, #fffded 80%, #1c9640 100%);
}
header h2 {
	font-size: 175%;
	color:black;
	text-align: center;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-align: center;
	color: rgba(255, 0, 106, 0.897);
}
header img {
	float: left;
	padding: 0 30px;
}


/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin:0;
	padding:0;
	position: relative;

	
}
#nav_menu a:hover{
	color: red;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li li {
	padding-left: 5em;
	padding-top:.2em;
	

}
#nav_menu ul li ul li  a{
	width: 200px;
	height: 10px;
}
#nav_menu ul li a {
    display: block;
    width: 400px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
	color: yellow;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
	
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	
}
section p{
	color: #FFE7E6;
	padding-top: 10px;
	text-align: justify;
	margin-right: 20px;
	margin-left: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	margin-top: 10px;
	text-indent: 50px;
	white-space: normal;
	
	

	
}

section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
	color: greenyellow;
	border-bottom: 1px solid red;
	
}
h1:hover{
	color: red;
}

	
#kim{
	padding-top: 20px;
}
#kim  ul{
	padding-top: 0px;
	color: yellow;
	font-weight: bold;

}
 
section h2{
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
	color: greenyellow;
	border-bottom: 1px solid red;
	margin-top: 25px;
}
h2:hover{
	color: red;

}
 p {
	
	
	text-indent: 40px;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
	color: white;
	margin-right: 10px;
	
	
	
}

 
section,p,a{
	color: yellow;
}
.instraction:hover{
	color:yellow;
}


section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}

	



/* the styles for the aside */
aside {
	width: 215px;
	float: left;
	padding: 25px 5px 20px 20px;
	background-color: chartreuse;
	margin-bottom: 0px;
	margin-top: 0px;
	

}
aside h2 {
	color: black;
	font-size: 160%;
	padding-top: 0px;
	border-bottom:1px solid black;
	margin-top: 0px;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
	padding-top: 10px;
	color: black;
	margin-top: 1px;
}
aside h3 a{
	color: green;
}
	
aside img {
		padding-bottom: 0em;
		border: 1px solid black;
  }

/* the styles for the footer */
footer {
	background-color: #290877;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}