/* the styles for the elements */
* {
	margin: 0;
	padding: 0;
}
html {
	background-color: white;
}
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 1000px;
    margin: 0 auto;
    border: 3px solid #931420;
	background-color:#205B03;
}
a:focus, a:hover {
	font-style: italic;
	color: #800000;
}
/* the styles for the header */
header {
	padding: 1.5em 0 2em 0;
	border-bottom: 3px solid #fcba03;
		background-image: -moz-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(170, 176, 194) 50%, #fffded 80%, #1c9640 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(193, 195, 211) 50%, #fffded 80%, #1c9640 100%);
	background-image: -o-linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(172, 181, 201) 50%, #fffded 80%, #1c9640 100%);
	background-image: linear-gradient(
	    30deg, #4665bb 0%, white 30%, rgb(196, 200, 218) 50%, #fffded 80%, #1c9640 100%);
}
header h2 {
	font-size: 175%;
	color: black;
	text-align: center;
}
header h3 {
	font-size: 130%;
	font-style: italic;
	text-align: center;
	color: rgba(255, 0, 106, 0.897);
}
header img {
	float: left;
	padding: 0 30px;
}
/* the styles for the navigation menu */
#nav_menu ul {
	list-style-type: none;
	margin:0;
	padding:0;
	position: relative;

	
}
#nav_menu a:hover{
	color: red;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul li ul li  a{
	width: 200px;
	height: 10px;
}
#nav_menu ul li li {
	padding-left: 10em;
	padding-top:.2em;
}
#nav_menu ul li a {
    display: block;
    width: 333px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}
/* the styles for the main content */
main {
	clear: left;
}

/* the styles for the section */
section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
}
section h1 {
	font-size: 150%;
	padding: .5em 0 .25em 0;
	margin: 0;
	color:  white ;
	border-bottom: 1px solid red;
	text-align: left;
}
section h2 {
	color: yellow;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
h1:hover{
	color:red;
	font-weight: 100;
}
section p {
	padding-bottom: .5em;
	color:white;
	padding: 1px;
	padding-top: 20px;
	text-indent: 50px;
	text-align: justify;
}
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
	list-style-type: circle;
}
section li {
	padding-bottom: .35em;
}


/* the styles for the aside */
aside {
	width: 215px;
	float: left;
	padding: 25px 5px 20px 20px;
	background-color: chartreuse;
	margin-bottom: 0px;
	margin-top: 0px;
	

}
aside h2 {
	color: black;
	font-size: 160%;
	padding-top: 0px;
	border-bottom:1px solid black;
	margin-top: 0px;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
	padding-top: 10px;
	color: black;
	margin-top: 1px;
}
aside h3 a{
	color: green;
}
	
aside img {
		padding-bottom: 0em;
		border: 1px solid black;
		
}

/* the styles for the footer */
footer {
	background-color: blue;
	clear: both;

}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}
/* the style for the table */
table caption{
	margin: 0;
	padding: 2px;
	font-size: 130;
	font-weight: bolder;
	text-align: center;
	color: greenyellow;
	border-bottom: 1px solid black;
	font-size: 30px;
}
table{
	border: 1px solid yellow;
	border-collapse: collapse;
	margin-top: 50px ;
	
}
 thead th{
border: 1px solid black;
text-align: center;
color: #FFE10A;
}
 tr td{
	text-align: center;
	border: 1px solid yellowgreen;
	border-left: none;
	border-right: 1px solid yellow;
	border-top: none;
}
tbody tr td{
	text-align: center;
	border: 1px solid rgb(206, 27, 27);
	color: white;
	border-left: 1px  solid black;
	border-right: 1px solid black;
	
	padding-left: 1px;
	
}
  tbody tfoot  td {
	text-align:right ;
	border-right: black;
	border-bottom: 1px solid black;

}
tbody th{
	border: 1px solid black;
	
	color: #F99501;
}
#noham{
	color: black;
	margin-top: 10px;
	text-decoration-color: chartreuse;
}
#nham h10{
	color: white;
	padding-top: 10px;
	margin-top: 10px;
}

